@model ProjeFinalOdevi.Areas.Admin.ViewModels.UsersResetPassword
@{
    ViewBag.Title = "Şifre Yenileme";
}

@using (Html.BeginForm())
{
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Şifresi Değiştirilecek Kullanıcı : @Model.username</h4>
                <form>
                    <div class="form-row align-items-center">
                        @Html.ValidationSummary()
                        <div class="col-sm-3 my-1 exampleInputPassword1">
                            <div class="input-group">
                                @Html.EditorFor(u => u.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Şifre" } })
                            </div>
                        </div>
                        <div class="col-sm-3 my-1 exampleInputPassword1">
                            <div class="input-group">
                                @Html.EditorFor(u => u.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Şifre Tekrar" } })
                            </div>
                        </div>
                        <div class="col-auto my-1">
                            <button type="submit" class="btn btn-primary">Güncelle</button>
                            veya @Html.ActionLink("Vazgeç", "index")
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}