@model ProjeFinalOdevi.ViewModels.StockIndex
@{
    ViewBag.Title = "GELİRLER";

}

<div class="col-12 mt-5">
    <div class="card">
        <div class="card-body">
            <h4 class="header-title">TÜM ÜRÜNLER</h4>
            <div class="single-table">
                <div class="table-responsive">
                    <table class="table table-striped text-center">
                        <thead class="text-uppercase">
                            <tr>
                                <th scope="col">@Html.DisplayNameFor(i => i.description)</th>
                                <th scope="col">@Html.DisplayNameFor(i => i.unitPrice)</th>
                                <th scope="col">@Html.DisplayNameFor(i => i.numberInStock)</th>
                                <th scope="col">İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.stockInfo)
                            {
                                <tr>
                                    <td style="text-align:center; vertical-align:middle;">@item.Description</td>
                                    <td style="text-align:center; vertical-align:middle;">@item.Unitprice ₺/adet</td>
                                    <td style="text-align:center; vertical-align:middle;">@item.Quantityinstock</td>
                                    <td style="text-align:center; vertical-align:middle;">
                                        <a href="@Url.RouteUrl("UrunView", new { id = item.StockId })"
                                           class="btn btn-flat btn-success"
                                           style="height:26px; padding-top:4px;">
                                            <i class="ti-eye"> DÜZENLE</i>
                                        </a>
                                        <a href="@Url.RouteUrl("DeleteStock", new { id = item.StockId })"
                                           class="btn btn-flat btn-danger"
                                           data-post="Ürünü Silmek İstediğinize Emin Misiniz?"
                                           style="height:26px; padding-top:4px; color:ghostwhite;">
                                            <i class="ti-trash">  SİL</i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td>
                                <button onclick="location.href='@Url.RouteUrl("UrunNew")'" class="btn btn-flat btn-primary pull-right"
                                        style="margin-right:0;">
                                    <i class="ti-plus" style="color:yellow;">  </i>
                                    Yeni Ürün Ekle
                                </button>
                            </td>
                        </tr>
                    </table>
                    <div class="pagination justify-content-center">
                        @if (Model.stockInfo.HasPreviousPage)
                        {
                            <a href="@Url.Action("index",new { page=Model.stockInfo.PreviousPage})" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-chevron-left"></i>Önceki Sayfa</a>
                        }
                        else
                        {
                            <a href="#" class="btn btn-default disabled btn-sm"><i class="glyphicon glyphicon-chevron-left "></i>Önceki Sayfa</a>
                        }

                        @if (Model.stockInfo.HasNextPage)
                        {
                            <a href="@Url.Action("index",new { page=Model.stockInfo.NextPage})" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-chevron-right"></i>Sonraki Sayfa</a>
                        }
                        else
                        {
                            <a href="#" class="btn btn-default disabled btn-sm"><i class="glyphicon glyphicon-chevron-right "></i>Sonraki Sayfa</a>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>